<launch>
	<!-- Run the map server with a blank map-->
	<node name="map_server" pkg="map_server" type="map_server" args="$(find myrobot1)/maps/blank_map.yaml"/>

	<!-- Launch move base and load all  navigation parameters -->
	<include file="$(find myrobot1)/launch/fake_move_base.launch"/>

	<!-- Run a static transform between /odom and map -->
	<node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster" args="0 0 0 0 0 0 /odom /map 100"/>
</launch>
